BOT_TOKEN=
ADMIN_IDS=
DB_PATH=netyar.sqlite3
PUBLIC_BASE_URL=https://YOUR-RAILWAY-DOMAIN
SIZPAY_USERNAME=
SIZPAY_PASSWORD=
SIZPAY_MERCHANT_ID=
SIZPAY_TERMINAL_ID=
# Optional if using SIZPay personal paylink mode:
SIZPAY_IPG_ID=
SIZPAY_MODE=rest
PORT=8080
